.btn{
    text-decoration: none;
    color : black;
    background-color: white;
    border:2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #425255;
    color: white;
    transition: 0.5s;
}

section a.btn{
    margin:auto;
}