#page1{
    grid-template-columns: 1fr 1fr;
    gap:20px;
    display: grid;
}
#page2{
    grid-template-columns: 1fr 1fr;
    gap:20px;
    display: none;
}
#tablaVerificar{
    grid-template-columns: 1fr 1fr;
    gap:20px;
    display: none;
}

.btn-next-prev, .btn-next-prev-2{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
}
.btn-next-prev-2{
    grid-column: span 1;
}

div.cabecera {
    background-color: rgba(255, 255, 255, 0.637);
    display: inline-flex;
    width: 100%;
    
    border-bottom: 1px solid;
}
div.cabecera h2{
    margin: auto;
    padding-left: 167.5px;
    padding-right: 167.5px;
    border: 1px solid black;
}

#paso1{
    background:rgb(42, 116, 116);
}
#paso2 ,#paso3{
    background:white;
    color: black;
}
#grupo_fechaAlta{
    display:none;
}
#tablaVerificar table td, th{
    border: 1px solid black;
    border-radius: 5px;
}
div.tablaVertical th {
    background-color: #DCF2ED;
}
div.tablaVertical table, th{
    border: 1px solid;
    border-color: #DCF2ED;
}

table {
    border-collapse: collapse; 
    margin: 50px;
    table-layout: auto;
    text-align: center;
    grid-column: span 2;
}

table th, td{
    width: 100px;
    padding: 5px;
    font-size: 20px;
    font-family: Open Sans;
    border: 1px solid black;
    border-radius: 5px;
}
caption {
    font-size: 25px;
    text-shadow: 1px 1px 1px rgb(82, 6, 6);
}